@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PhoneBook</h1>
    <p class="lead">In PHONEBOOK application you can add your contacts and their details and much more.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           First Login to your application , then you can add your persons , gives ther require details . Then you will be able 
            to add contacts.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Details</h2>
        <p> For each person provides complete details. Persons first,middle and last name , his or her date
        of birthay etc</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Importance</h2>
        <p>This will helps a lot in saving your contacts .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>